<ion-header>
  <ion-toolbar>
    <ion-title>Lojas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">

    <ion-card>
      <img src="assets/icon/loja-norteshopping.jpg"/>
      <div class="card-title">Norte shopping</div>
      <div class="card-subtitle">Av. João Medeiros Filho</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/icon/loja-midway.jpg"/>
      <div class="card-title">Midway  Mall</div>
      <div class="card-subtitle">Av. Bernardo Viera</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/icon/loja-natalshopping.jpg"/>
      <div class="card-title">Natal Shopping</div>
      <div class="card-subtitle">72 Listings</div>
    </ion-card>
  </ion-content>
