<ion-header>
  <ion-toolbar>
    <ion-title>Cardápio </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/expresso-tradicional.png">
      </ion-avatar>
      <h2>Expresso Tradicional</h2>
      <p>10.00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/expresso-mocha.png">
      </ion-avatar>
      <h2>Expresso Mocha</h2>
      <p>10.00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/expresso-docedeleite.png">
      </ion-avatar>
      <h2>Expresso Doce deleite</h2>
      <p>10.00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/cappuccino-tradicional.png">
      </ion-avatar>
      <h2>Cappuccino Tradicional</h2>
      <p>10.00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/cappuccino-canela.png">
      </ion-avatar>
      <h2>Cappuccino Canela</h2>
      <p>10.00</p>
    </ion-item>
  </ion-list>
</ion-content>
